<%= form_with model: author do |form| %>
<div class="card container" >
  <div class="card-body" >
     <div class="mb-3" >
        <%= form.label :first_name, {class: "form-label"} %><br>
        <%= form.text_field :first_name, {class: "form-control", placeholder: "First Name"}  %>
        <% author.errors.full_messages_for(:first_name).each do |message| %>
          <div><%= message %></div>
        <% end %>
     </div>
     <div class="mb-3" >
        <%= form.label :last_name, {class: "form-label"} %><br>
        <%= form.text_field :last_name, {class: "form-control", placeholder: "Last Name"}  %>
        <% author.errors.full_messages_for(:last_name).each do |message| %>
          <div><%= message %></div>
        <% end %>
     </div>
     <div class="mb-3" >
        <%= form.label :date_of_birth, {class: "form-label"} %><br>
        <%= form.text_field :date_of_birth, {class: "form-control", placeholder: "dob"}  %>
        <% author.errors.full_messages_for(:date_of_birth).each do |message| %>
      <div><%= message %></div>
        <% end %>
      </div>
      <div class="mb-3" >
         <%= form.label :email, {class: "form-label"} %><br>
         <%= form.email_field :email, {class: "form-control", placeholder: "email "}  %>
         <% author.errors.full_messages_for(:email).each do |message| %>
         <div><%= message %></div>
         <% end %>
      </div>
      <div>
         <%= form.submit %>
      </div>
   </div>
</div>
<% end %>